build
data
premake5
Debug/
Release/

log.txt

*.dll
*.exp
*.idb
*.ilk
*.lib
*.pdb
*.exe
*.sdf
*.VC.db
*.tmp

*.pro.user*
*.pro.autosave*
*.so*
*.vcxproj.user

BundleArtifacts

crafter2d_StoreKey.pfx
Package.StoreAssociation.xml

/demo/imagebackup

/contrib/win10/ipch
/contrib/win10/Debug
/contrib/win10/.vs
/contrib/win10/AppPackages

/crafter/build*

/rel
/src/unittest/test
